-
  name: <Box_Name>
  type: <Box Type: physical|virtual|container>
  host_box: <Host Box Name. Required for virtual or container type>
  account:
    - <Linux Account ID>
  network:
    - name: <Logical Network Name: Management|Control|Data>
      ipaddr: <Network IP Address>
      subnet: <Network Subnet (e.g. 255.255.255.0)>
      gateway: <Network Gateway IP Address>
      dns:
        - <DNS IP Address>

