#!/bin/bash

## Network Settings for common
export MGMT_IP=210.125.84.222
export CTRL_IP=172.20.190.222
export DATA_IP=172.30.190.222

## Network Settings only for Compute
export CONTROL_MGMT_IP=$MGMT_IP
export CONTROL_CTRL_IP=$CTRL_IP

## Other OpenStack Parameters
export NEUTRON_MECHANISM_DRIVER=openvswitch # openvswitch | linuxbridge
export REGION_ID="RegionOne"

## Passwords
#PASSWORD=`openssl rand -hex 10`
export PASSWORD=test

export MYSQL_PASS=$PASSWORD
export ADMIN_PASS=$PASSWORD
export CINDER_DBPASS=$PASSWORD
export CINDER_PASS=$PASSWORD
export DASH_DBPASS=$PASSWORD
export DEMO_PASS=$PASSWORD
export GLANCE_DBPASS=$PASSWORD
export GLANCE_PASS=$PASSWORD
export KEYSTONE_DBPASS=$PASSWORD
export NEUTRON_DBPASS=$PASSWORD
export NEUTRON_PASS=$PASSWORD
export NOVA_DBPASS=$PASSWORD
export NOVA_PASS=$PASSWORD
export RABBIT_PASS=$PASSWORD
export METADATA_SECRET=$PASSWORD
